sphinx_rtd_theme==0.4.3
pybtex==0.22.2
sphinxcontrib_programoutput==0.15
sphinxcontrib-bibtex<2.0.0
nbconvert==5.6.0
Sphinx>=2.2
jupyter_client
ipykernel
nbsphinx
numpy
pandas
matplotlib
xarray
scipy
atmosp
supy==2019.11.18.dev0
